{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "View" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "notification" %}</h2>
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">
			<h4>{{ notification.daten | date:"d.m.Y H:i" }}</h4>			
		</div>
		<div class="card-body">
			<div class="row">
				<h4>{{ notification.client }}</p>			
				<p>{{ notification.details | linebreaks }}</p>			
			</div>
		</div>
		<div class="card-footer">				
			<p>{% trans "notification_viewed" %}: {{ notification.datev | date:"d.m.Y H:i" }}</p>			
		</div>		
	</div>
	<a class="btn btn-outline-info" style="width:100px; margin-top:5px" onclick="history.back()">{% trans "Back" %}</a>    	
</div>

{% endblock content %}