{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "View" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "reservation" %}</h2>
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">
			<h4>{{ reservation.dater | date:"d.m.Y H:i" }}</h4>
			<h4>{{ reservation.client }}</h4>
		</div>
		<div class="card-body">
			<p><strong>{% trans "quantity_people" %}</strong>: {{ reservation.quantity_people }}</p>
			<p><strong>{% trans "reservation_details" %}</strong>: {{ reservation.details }}</p>
			<p><strong>{% trans "reservation_comments" %}</strong>: {{ reservation.comments }}</p>
		</div>
		<div class="card-footer">
			<p><strong>{% trans "reservation_application" %}</strong>: {{ reservation.datea | date:"d.m.Y H:i" }}</p>
		</div>
	</div>
	<br>
	<div class="div-button-center">
		<button onclick="history.back()" class="btn btn-outline-info" style="width:100px">{% trans "Back" %}</button>
	</div>
</div>
{% endblock content %}