{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "detailing" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<div id="print_content">
	<h2>{% trans "bill" %}</h2>
	<hr>
	<h4>№ {{ bill.id  }}, {{ bill.dateb | date:"d.m.Y H:i"}}</h4>
	<h4>{% trans "place" %}: {{ bill.place  }}</h4>
	<hr>
	<h5>{% trans "total" %}: {{ bill.total | stringformat:"1.0f" }} 〒</h5>
	{% if bill.amount > 0 %}
		<h5>{% trans "discount" %}: {{ bill.discount }} %</h5>
		<h5>{% trans "bonus" %}: {{ bill.bonus | stringformat:"1.0f" }} 〒</h5>
		<h5>{% trans "amount" %}: {{ bill.amount | stringformat:"1.0f" }} 〒</h5>
	{% else %}
		<h5>{% trans "not yet paid" %}</h5>
		<form method="post" enctype="multipart/form-data" class="hide_for_print_element">
			{% csrf_token %}
			<table>
				<tr>
					<td>
						<label for="id_discount">{% trans "discount" %}</label>
					</td>
					<td>
						<input type="number" name="discount" size="10" min="0" max="100" step="1" id="id_discount" value="{{ discount }}">
					</td>
					<td>
						<label>%</label>
					</td>
				</tr>
				<tr>
					<td>
						<label for="id_bonus">{% trans "payment by bonuses" %}</label>
					</td>
					<td>
						<input type="number" name="bonus" size="10" min="0" max="1000" step="50" id="id_bonus" value="{{ bonus }}">
					</td>
					<td>
						<label>〒</label>
					</td>
				</tr>
			</table>
			<div class="row justify-content-center">
				<button onclick="return confirm('Принять оплату?')" type="submit" name="accept" class="btn btn-outline-success" style="width:150px" >{% trans "Accept payment" %}</button>				
				<button class="btn btn-info" name = "print" id ="print" onclick='printDiv("print_content")' style="text-align: center;width:150px">Печать</button>
				<a class="btn btn-outline-info" style="width:150px" href="{% url 'bill_index'%}">{% trans "Back" %}</a> 
			</div>	
		</form>	
	{% endif %}
	<hr>
	<h2>{% trans "detailing" %}</h2>
	{% if detailing.count > 0 %}
	<div class="row" id="print_content">
		<table id="myTable" class="table-manager" style="width:100%">
			<thead>
				<tr>
					<th><p>{% trans "category" %}</p></th>
					<th><p>{% trans "title" %}</p></th>
					<th><p>{% trans "price" %}</p></th>
					<th><p>{% trans "quantity" %}</p></th>
					<th><p>{% trans "total" %}</p></th>
					<th class="hide_for_print_element"><p>{% trans "photo" %}</p></th>
					<th class="hide_for_print_element"><p><a href="{% url 'detailing_create' bill_id %}">{% if bill.amount == 0 %}{% trans "Add" %} {% endif %}</a></p></th>					
				</tr>
			</thead>
			<tbody>
				{% for p in detailing %}
				<tr>
					<td>
						<p>{{ p.catalog.category }}</p>
					</td>
					<td>
						<p>{{ p.catalog.title }}</p>
					</td>
					<td>
						<p>{{ p.price | stringformat:"1.0f" }} 〒</p>
					</td>
					<td>
						<p>{{ p.quantity }}</p>
					</td>
					<td>
						<p>{{ p.total  | floatformat:0 }} 〒</p>
					</td> 
					<td class="hide_for_print_element">
						{% if p.catalog.photo.url != None %}					
							<img style="width:100%; max-width:200px;" src="{{ p.catalog.photo.url}}" alt="{{ p.photo.url }}" >								
						{% endif %}	
					</td>
					<td class="hide_for_print_element">	
						<p>
						{% if bill.amount == 0 %}
						<a  href="{% url 'detailing_edit' p.id bill_id %}">{% trans "Change" %}</a> |
						<a href="{% url 'detailing_read' p.id bill_id %}">{% trans "Read" %}</a> |
						<a onclick="return confirm('Удалить запись?')" href="{% url 'detailing_delete' p.id bill_id %}">{% trans "Delete" %}</a>
						{% endif %}
						</p>
					</td>			
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>	
	{% else %}
	<a href="{% url 'detailing_create' bill_id %}">{% trans "Add" %}</a>
	{% endif %}
</div>
<script>
	function printDiv(divName) {
		// Печать контейнера div
		// Оригинальный контент
		var originalContents = document.body.innerHTML;
		// Скрываемый класс
		var collection = document.getElementsByClassName("hide_for_print_element");
		for(var i=0; i<collection.length; i++)collection[i].style.display='none';
		// Область печати
		var printContents = document.getElementById(divName).innerHTML;
		// Вывод на печать			
		document.body.innerHTML = printContents;
		window.print();
		// Возврат документа в исходное состояние
		document.body.innerHTML = originalContents;
	}
</script>
{% endblock content %}

