{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Read" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">
			<h5>{{ detailing.category }}</h5>
			<h5>{{ detailing.subcategory }}</h5>
			<h5>{{ detailing.title }}</h5>
			<h6>{{ detailing.price | stringformat:"1.0f"  }} ₽</h6>
			<h6>{% trans "quantity" %}: {{ detailing.quantity }}</h6>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-9">
					<p><strong>{% trans "details" %}</strong>: {{ detailing.details | linebreaks }}</p>
				</div>
				<div class="col-md-3">
					{% if detailing.catalog.photo.url != None %}
						<img style="width:100%; max-width:200px;" src="{{ detailing.photo.url}}" alt="{{ detailing.photo.url }}" >
					{% endif %}
				</div>
			</div>

		</div>
		<div class="card-footer text-muted">
			<p></p>
		</div>
	</div>
	<div class="div-button-center">
		<button onclick="history.back()" class="btn btn-outline-info" style="width:100px">{% trans "Back" %}</button>
		<!-- <a class="btn btn-outline-info" style="width:100px" href="{% url 'detailing_index' bill_id  %}">{% trans "Back" %}</a>    	 -->
	</div>
</div>
{% endblock content %}