{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "bonus" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "bonus" %}</h2>
{% if review.count > 0 %}
<div class="row">
	<table id="myTable" class="table-manager" style="width:100%">
		<thead>
			<tr>
				<th><p>{% trans "bonus_date" %}</p></th>
				<th><p>{% trans "name" %}</th>				
				<th><p>{% trans "accrued" %}</th>				
			</tr>
		</thead>
		<tbody>
			{% for r in review %}
			<tr>
				<td><p>{{ r.dateb | date:"d.m.Y"}}</p></td>
				<td><p>{{ r.client.name }}<br>{{ r.client.phone }}<br>{{ r.client.email }}</p></td>
				<td><p>{{ r.accrued }}</p></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}
{% endblock content %}