{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "bonus" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "bonus" %}</h2>
{% if bonus.count > 0 %}
<div class="row">
	<table id="myTable" class="table-manager" style="width:100%">
		<thead>
			<tr>
				<th><p>{% trans "bonus_date" %}</p></th>
				<th><p>{% trans "name" %}</th>				
				<th><p>{% trans "accrued" %}</th>	
				<th><p></p></th>				
			</tr>
		</thead>
		<tbody>
			{% for r in bonus %}
			<tr>
				<td><p>{{ r.dateb | date:"d.m.Y H:i"}}</p></td>
				<td><p>{{ r.client.name }}<br>{{ r.client.phone }}<br>{{ r.client.email }}</p></td>
				<td>
					{% if r.accrued > 0 %}
						<p style="color:green;">
					{% else %}
						<p style="color:red;">
					{% endif %}
						{{ r.accrued | stringformat:"1.0f" }} ₽
						</p>
				</td>
				<td>
					<form method="post">
						{% csrf_token %}
						<a onclick="return confirm('Удалить запись?')" href="{% url 'bonus_delete' r.id %}">{% trans "Delete" %}</a>
					</form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}
{% endblock content %}