{% extends "base.html" %}
{% load i18n %}
{% block title %}{% endblock title %}
{% block header %}{% endblock header %} 
{% block content %}
<div class="row">
	<div class="col-md-3">
		<h1 align="center">{% trans "Contacts" %}</h1>
		<address>
			<p>ул. Комсомольская, 95, Орёл, Орловская обл., Россия, 302026</p>			
			<!-- <a href="https://strcol.edu.kz/">https://strcol.edu.kz/</a>									 -->
		</address>				
		<p><a href="tel:+74862751318">+7(486)275-13-18</a><p>
	</div>
	<div class="col-md-9" style="position:relative;overflow:hidden;">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19230.90635637034!2d36.031926025093135!3d52.950882800000024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41321a7be87401e3%3A0xfe55c2268fc2e241!2z0J7RgNC70L7QstGB0LrQuNC5INCT0L7RgdGD0LTQsNGA0YHRgtCy0LXQvdC90YvQuSDQo9C90LjQstC10YDRgdC40YLQtdGCINC40LzQtdC90Lgg0Jgu0KEuINCi0YPRgNCz0LXQvdC10LLQsA!5e0!3m2!1sru!2skz!4v1699631431500!5m2!1sru!2skz" width="100%" height="500px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
	</div>
</div>
{% endblock content %}