{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Basket" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "Basket" %}</h2>
{% if basket.count > 0 %}
{% for b in basket %}
<div class="row justify-content-center">
		<div class="card" style="width: 100%">
			<div class="card-header">
				<h5>{{ b.catalog.category }}</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-2">
						{% if b.catalog.photo.url != None %}
							<img style="width:100%; max-width:200px;" src="{{ b.catalog.photo.url}}" alt="{{ b.catalog.photo.url }}" >
						{% endif %}
					</div>
					<div class="col-md-8">
						<h5 class="card-title">{{ b.catalog.title }}</h5>
					</div>
					<div class="col-md-2">
						<h6 class="card-title"><strong>{{ b.quantity }}ˣ{{ b.price | stringformat:"1.0f" }}</strong> ₽</h6>
						<form method="post" name="plusminusForm">
							{% csrf_token %}
							<input hidden type="text" name="basket_id" size="0" value="{{ b.id }}">
							<input hidden type="text" name="quantity" size="0" value="{{ b.quantity }}">
							<button type="submit" name="btn_plus" class="btn btn-outline-success">+</button>
							<button type="submit" name="btn_minus" class="btn btn-outline-success">-</button>
						</form>
						<h4 class="card-title"><strong>{{ b.total | stringformat:"1.0f" }}</strong> ₽</h4>
						<a onclick="return confirm('Удалить запись?')" class="btn btn-outline-danger" href="{% url 'basket_delete' b.id %}">{% trans "Delete" %}</a>
					</div>
				</div>
			</div>
			<div class="card-footer text-muted">
				<p><p>
			</div>
		</div>
</div>
{% endfor %}
{% if basket_total > 0 %}
	<form method="post" name="plusminusForm">
	{% csrf_token %}
	<label for="id_place">{% trans "place" %}</label>
	<br>
	<input type="text" name="place" size="50" maxlength="64" required id="id_place" value="{{ place }}">

	<div class="row justify-content-center" id="row_go_payment">
		<div class="card" style="width: 100%">
			<div class="card-header text-center" >
				<h3 class="card-title"><strong>{% trans "Basket total" %} - {{ basket_total | stringformat:"1.0f"}}</strong> ₽</h3>
			</div>
			<div class="card-body">
				<div class="row justify-content-center">
					<button type="submit" name="buy" class="btn btn-outline-success" style="width:100px" >{% trans "Buy" %}</button>
					<a class="btn btn-outline-info" style="width:100px" href="{% url 'catalog_list' %}">{% trans "Back" %}</a>
				</div>				
			</div>
		</div>
	</div>	
	</form>	
{% endif %}

{% endif %}
<script>
	
</script>
{% endblock content %}

