{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Catalog details" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">
			<div class="row">
				<div class="col-md-9">
					<h5>{{ catalog.category }}</h5>
					<h5>{{ catalog.title }}</h5>
				</div>
				<div class="col-md-3">

				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-2">
					{% if catalog.photo.url != None %}
						<img style="width:100%; max-width:200px;" src="{{ catalog.photo.url}}" alt="{{ catalog.photo.url }}" >
					{% endif %}
				</div>
				<div class="col-md-8">
					<table>
						<tr>
							<td><p><strong></strong></p></td>
							<td><p>{{ catalog.details | linebreaks }}</p></td>
						</tr>						
					</table>
				</div>
				<div class="col-md-2">
					<h4><strong>{{ catalog.price | stringformat:"1.0f" }}</strong> 〒</h4>
					<!-- {% if catalog.sale_quantity != None %} -->
						<!-- <h6><strong>{% trans "Sale Quantity" %}</strong> {{ catalog.sale_quantity }}</h6> -->
					<!-- {% endif %} -->
					<!-- {% if reviews.count > 0 %} -->
						<!-- <h6>{% trans "reviews" %} {{ reviews.count }} </h6> -->
					<!-- {% endif %} -->
					<!-- {% if catalog.avg_rating != None %} -->
						<!-- <p><div class="Stars" style='--rating: {{ catalog.avg_rating | stringformat:".1f" }};'></div></p> -->
						<!-- <p><strong>{% trans "Avg Rating" %}</strong> {{ catalog.avg_rating | floatformat:1 }}</p> -->
					<!-- {% endif %} -->
				</div>
			</div>
		</div>
		<div class="card-footer">

		</div>
	</div>
</div>
<div class="div-button-center">
	<button onclick="history.back()" class="btn btn-outline-info" style="width:100px">{% trans "Back" %}</button>
</div>
{% if reviews.count > 0 %}
<div class="row justify-content-center">
	<h2 class="text-center">{% trans "reviews" %}</h2>
</div>
{% for r in reviews %}
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">
			<!-- <h6>{% trans "rating" %}: {{ r.rating }}</h6> -->
			<p><div class="Stars" style='--rating: {{ r.rating | stringformat:".1f" }};'></div></p>
		</div>
		<div class="card-body">
			<p>{{ r.details | linebreaks }}</p>
		</div>
		<div class="card-footer">
			<p>{% trans "saleday" %}: {{ r.saleday | date:"d.m.Y"}}</p>			
			<p>{{ r.username }}</p>			
		</div>
	</div>
</div>
{% endfor %}
{% else %}
<div class="row justify-content-center">
	<h5>{% trans "No reviews yet" %}</h5>
</div">
{% endif %}
{% endblock content %}