{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "catalog" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<div id="print_content">
	<h2>{% trans "catalog" %}</h2>
	{% if catalog.count > 0 %}
	<div class="row" id="print_content">
		<table id="myTable" class="table-manager" style="width:100%">
			<thead>
				<tr>
					<th><p>{% trans "category" %}</p></th>
					<th><p>{% trans "title" %}</p></th>
					<th><p>{% trans "price" %}</p></th>
					<th class="hide_for_print_element"><p>{% trans "photo" %}</p></th>
					<th class="hide_for_print_element"><p><a href="{% url 'catalog_create' %}">{% trans "Create" %}</a></p></th>					
				</tr>
			</thead>
			<tbody>
				{% for p in catalog %}
				<tr>
					<td>
						<p>{{ p.category }}</p>
					</td>
					<td>
						<p>{{ p.title }}</p>
					</td>
					<td>
						<p>{{ p.price | stringformat:"1.0f" }} 〒</p>
					</td>
					<td class="hide_for_print_element">
						{% if p.photo.url != None %}					
							<img style="width:100%; max-width:200px;" src="{{ p.photo.url}}" alt="{{ p.photo.url }}" >								
						{% endif %}	
					</td>
					<td class="hide_for_print_element">	
						<p>
						<a  href="{% url 'catalog_edit' p.id %}">{% trans "Change" %}</a> |
						<a href="{% url 'catalog_read' p.id %}">{% trans "Read" %}</a> |
						<a onclick="return confirm('Удалить запись?')" href="{% url 'catalog_delete' p.id %}">{% trans "Delete" %}</a>
						</p>
					</td>			
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="div-button-center hide_for_print_element">
		<button class="btn btn-info" name = "print" id ="print" onclick='printDiv("print_content")' style="text-align: center;width:150px">Печать</button>
	</div>	
	{% else %}
	<a href="{% url 'catalog_create' invoice_id %}">{% trans "Create" %}</a>
	{% endif %}
</div>
<script>
	function printDiv(divName) {
		// Печать контейнера div
		// Оригинальный контент
		var originalContents = document.body.innerHTML;
		// Скрываемый класс
		var collection = document.getElementsByClassName("hide_for_print_element");
		for(var i=0; i<collection.length; i++)collection[i].style.display='none';
		// Область печати
		var printContents = document.getElementById(divName).innerHTML;
		// Вывод на печать			
		document.body.innerHTML = printContents;
		window.print();
		// Возврат документа в исходное состояние
		document.body.innerHTML = originalContents;
	}
</script>
{% endblock content %}

