{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "View" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">
			<h5>{{ catalog.category }}</h5>
			<h5>{{ catalog.title }}</h5>
			<h6>{{ catalog.price | stringformat:"1.0f"  }} 〒</h6>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-9">
					<p><strong>{% trans "details" %}</strong>: {{ catalog.details | linebreaks }}</p>
				</div>
				<div class="col-md-3">
					{% if catalog.photo.url != None %}
						<img style="width:100%; max-width:200px;" src="{{ catalog.photo.url}}" alt="{{ catalog.photo.url }}" >
					{% endif %}
				</div>
			</div>

		</div>
		<div class="card-footer text-muted">
			<p></p>
		</div>
	</div>
	<div class="div-button-center">
		<button onclick="history.back()" class="btn btn-outline-info" style="width:100px">{% trans "Back" %}</button>
		<!-- <a class="btn btn-outline-info" style="width:100px" href="{% url 'catalog_index'  %}">{% trans "Back" %}</a>    	 -->
	</div>
</div>
{% endblock content %}