{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "View" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "configuration" %}</h2>
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">
			<h4>{{ configuration.datec | date:"d.m.Y H:i"  }}</h4>
		</div>
		<div class="card-body">
			<p><strong>{% trans "configuration_discount" %}</strong>: {{ configuration.discount }}</p>
			<p><strong>{% trans "configuration_bonus" %}</strong>: {{ configuration.bonus }}</p>
		</div>
		<div class="card-footer">
		</div>
	</div>
	<br>
	<div class="div-button-center">
		<button onclick="history.back()" class="btn btn-outline-info" style="width:100px">{% trans "Back" %}</button>
	</div>
</div>
{% endblock content %}